# Remove git aliases that conflict with other commands
unalias gc gdu gwc 2>/dev/null || true

alias amend='git commit --amend'
alias dockviz='docker run --rm -v /var/run/docker.sock:/var/run/docker.sock nate/dockviz'
alias ls='gls --color=auto'
alias gitx='gitx --all'
alias ql='qlmanage -p >/dev/null'
alias today='date +%Y-%m-%d'
alias v='gview -'

# Homebrew
alias linuxbrew=~/.linuxbrew/bin/brew
alias brewsci-pull='HOMEBREW_BOTTLE_DOMAIN=https://linuxbrew.bintray.com brew pull --bottle --bintray-org=linuxbrew --test-bot-user=LinuxbrewTestBot'
alias linuxbrew-pull='HOMEBREW_BOTTLE_DOMAIN=https://linuxbrew.bintray.com linuxbrew pull --bottle --bintray-org=linuxbrew --test-bot-user=LinuxbrewTestBot'
