#!/bin/sh

export NAME='Shaun Jackman'
export EMAIL='sjackman@gmail.com'

export EDITOR='gvim'
export VISUAL='gvim'
export GIT_EDITOR='gvim -f'

# Homebrew
export HOMEBREW_DEVELOPER=1
export HOMEBREW_NO_AUTO_UPDATE=1
