#!/bin/sh

# Operate on the body of a file but not the header
body() {
	IFS= read -r header
	printf '%s\n' "$header"
	eval $@
}

# Remove unused docker containers and images
docker-cleanup()
{
	docker rm `docker ps -aq`
	docker rmi `docker images --filter dangling=true --quiet`
}

# Remove duplicate elements
unique()
{
	awk '!x[$0]++' "$@"
}

# Add Homebrew kegs to the PATH
require()
{
	cellar=`brew --cellar`
	for i; do
		case $i in
			*/*)
				bin=$cellar/$i/bin
				;;
			*)
                keg=`brew --prefix $i`
				bin=`readlink -f $keg`/bin
				;;
		esac
		if [ -r $bin ]; then
			PATH=$bin:$PATH
		fi
	done
}
