#!/bin/sh

# Operate on the body of a file but not the header
body() {
	IFS= read -r header
	printf '%s\n' "$header"
	eval $@
}

# Remove unused docker images
docker-cleanup-images()
{
	docker rmi `docker images --filter dangling=true --quiet`
}

# Remove unused docker containers and images
docker-cleanup()
{
	docker rm `docker ps -aq`
	docker-cleanup-images
}

# Move the specified files to a newly-created directory
stash()
{
	t=`gdate +'%Y-%m-%dT%H:%M'`
	mkdir $t && mv "$@" $t/ && echo $t || rmdir $t
}

# Remove duplicate elements
unique()
{
	awk '!x[$0]++' "$@"
}

# Add Homebrew kegs to the PATH
require()
{
	cellar=`brew --cellar`
	for i; do
		case $i in
			*/*)
				bin=$cellar/$i/bin
				;;
			*)
                keg=`brew --prefix $i`
				bin=`realpath $keg`/bin
				;;
		esac
		if [ -r $bin ]; then
			PATH=$bin:$PATH
		fi
	done
}

# Wrangle data with dplyr and tidyr
# This prototype does not work well. I often use datamash.
dplyr()
{
	Rscript \
	-e 'library(dplyr, warn.conflicts = FALSE)' \
	-e 'library(tidyr, warn.conflicts = FALSE)' \
	-e 'args <- commandArgs(trailingOnly = TRUE)' \
	-e 'f <- args[1]' \
	-e 'args <- as.list(args[-1])' \
	-e 'data <- read.delim(file("stdin"))' \
	-e 'output <- do.call(f, c(list(data), args))' \
	-e 'write.table(output, sep = "\\t", quote = FALSE, row.names = FALSE)' \
	"$@"
}

# Convert a DOI to a text citation.
cite()
{
	for i do; curl -LH "Accept: text/bibliography" "http://doi.org/$i"; done
}

# Convert a DOI to bibtex.
bib()
{
	for i do; curl -sLH "Accept: text/bibliography; style=bibtex" "http://doi.org/$i" | sed 's/^ *//'; done
}

# Add a DOI to bibtex.
bib-add()
{
	bibfile = $1
	shift
	(cat "$bibfile"; bib "$@") | sort -u -o "$bibfile"
}

# Convert arXiv to bibtex.
arxiv()
{
	for i do; curl -s "https://arxiv2bibtex.org/?outputformat=raw&q=$i" | paste -sd' ' - | sed 's/}, }/}}/'; done
}

# Daff a TSV/CSV file and open it in a browser
daff-render()
{
	daff $1 $2 >! $1-$2
	daff render --output $1-$2.html $1-$2
	open $1-$2.html
}

# Create a Bintray package for Linuxbrew
linuxbrew-create-package()
{
	curl -u$BINTRAY_USER:$BINTRAY_KEY \
		-H 'Content-Type: application/json' \
		-d '{"name":"'$2'", "licenses":["BSD 2-Clause"], "vcs_url":"https://github.com/Linuxbrew/linuxbrew.git", "public_download_numbers":true, "public_stats":true}' \
		"https://api.bintray.com/packages/linuxbrew/$1"
}

# Upload a file to Bintray for Linuxbrew
linuxbrew-upload()
{
	curl -u$BINTRAY_USER:$BINTRAY_KEY \
		-T $4 "https://api.bintray.com/content/linuxbrew/$1/$2/$3/$4?publish=1"
}

# git: Add a file
git-add()
{
	for i; do
		git add "$i"
		git commit "$i" -m "Add $i"
	done
}

# git: Fixup a file
git-fixup()
{
	for i; do
		git commit "$i" -m "fixup $i"
	done
}
