[alias]
	conflicts = diff --name-only --diff-filter=U
	ff = pull --ff-only --prune
	l = log -n10 --oneline
	la = log -n10 --pretty=format:"%C(auto,yellow)%h\\ %C(auto,reset)%s\\ %C(auto,blue)%an"
	lb = log -n10 --oneline --decorate=short
	ld = log -n10 --pretty=format:"%cd\\ %C(auto,yellow)%h\\ %C(auto,reset)%s" --date=short-local
	lg = log -n10 --oneline --decorate=short --graph
	s = status -uno
	show-tsv = show --ext-diff
	u = status -u
	wdiff = diff --word-diff=plain
	wdiffc = diff --word-diff=color
	wdiffcsv = diff --word-diff=color --word-diff-regex=[^,]+
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[credential]
	# For Mac OS
	helper = osxkeychain
	# For Linux
	#helper = cache --timeout=100000000
[diff "pandoc"]
	textconv = pandoc --to=markdown --no-wrap
[hub]
	protocol = https
[user]
	name = Shaun Jackman
	email = sjackman@gmail.com
[push]
	default = simple
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[diff "daff-csv"]
	command = daff diff --git
[merge "daff-csv"]
	name = daff tabular merge
	driver = daff merge --output %A %O %A %B
[diff "daff-tsv"]
	command = daff diff --git
[merge "daff-tsv"]
	name = daff tabular tsv merge
	driver = daff merge --output %A %O %A %B
[commit]
	cleanup = strip
